pandas
numpy
matplotlib
seaborn
scikit-learn==1.6.1
jupyter
sweetviz
fastapi
uvicorn
fastapi-sqlalchemy
fastapi-users
fastapi-security
fastapi-mail
fastapi-pagination
fastapi-plugins
fastapi-logger 
joblib
jinja2
python-multipart



                